.content{
    background: #fff;
    color: #000000;
}
.content h1{
    margin-left: 350px;letter-spacing: 5px;color: #000000;
}
.content .h1{
    margin-left: 350px;letter-spacing: 5px;color: #000000;
}
.content .day{
    margin-right: 10px;
    margin-left: 10px;
}