<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
    <title>Movie Tickest</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="lightbox.css" type="text/css" media="all" />
    <script src='js/jquery.color-RGBa-patch.js'></script>
    <script src='js/example.js'></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- (do not call twice) -->
    <script src="js/lightbox.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
        jQuery(document).ready(function($) {
            $('a').smoothScroll({
                speed: 1000,
                easing: 'easeInOutCubic'
            });

            $('.showOlderChanges').on('click', function(e) {
                $('.changelog .old').slideDown('slow');
                $(this).fadeOut();
                e.preventDefault();
            })
        });
    </script>
</head>

<body>
    <div class="header">
        <div class="header-top">
            <div class="wrap">
                <div class="banner-no">
                    <img src="images/banner-no.png" alt="" />
                </div>
                <div class="nav-wrap">
                    <ul class="group" id="example-one">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li class="current_page_item"><a href="/events">Movies & Events</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container" style="height: 400px;">
        <h1 class="title-page">QUẢN LÝ</h1>
        <div class="group-tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-stacked col-md-3" role="tablist">
                <li role="presentation" class="active"><a href="#rap" aria-controls="rap" role="tab" data-toggle="tab">QUẢN LÝ RẠP </a></li>
                <li role="presentation"><a href="#phim" aria-controls="phim" role="tab" data-toggle="tab">QUẢN LÝ PHIM</a></li>
                <li role="presentation"><a href="#phong" aria-controls="phong" role="tab" data-toggle="tab">QUẢN LÝ PHÒNG</a></li>
                <li role="presentation"><a href="#lich" aria-controls="lich" role="tab" data-toggle="tab">QUẢN LÝ LỊCH</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-md-9">
                <div role="tabpanel" class="tab-pane active" id="rap">
                    <!-- <h2 style=" margin-left:290px;margin-bottom:50px">Quản lý rạp phim</h2>
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tên rạp</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="focusedInput" type="text " autofocus>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">Thành phố</label>
                            <div class="col-sm-10 ">
                                <input class="form-control " id="focusedInput " type="text ">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label "></label>
                            <div class="col-sm-10 ">
                                <button type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form> -->
                    <h4>mgkjwengejk</h4>

                </div>
                <div role="phim " class="tab-pane " id="phim ">
                    <h4>phim</h4>
                </div>
                <div role="phong " class="tab-pane " id="phong ">phong</div>
                <div role="lich " class="tab-pane " id="lich ">Lich </div>
            </div>
        </div>
    </div>






    </div>




    <!-- Footer -->
    <div class="footer ">
        <div class="wrap ">
            <div class="footer-top ">
                <div class="col_1_of_4 span_1_of_4 ">
                    <div class="footer-nav ">
                        <ul>
                            <li><a href="# ">Giới thiệu</a></li>
                            <li><a href="# ">Tiện ích</a></li>
                            <li><a href="# ">Ưu đãi</a></li>
                            <li><a href="# ">Tuyển dụng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4 ">
                    <div class="textcontact ">
                        <p>Chăm sóc khách hàng<br> Liên hệ theo<br> Phone: 1800 234 529<br> Email : <a href="# ">movie.support@movie.com.vn</a><br>
                        </p>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4 ">
                    <div class="call_info ">
                        <p class="txt_3 ">Hỗ trợ miễn phí qua:</p>
                        <p class="txt_4 ">1 800 234 529</p>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4 ">
                    <div class=social>
                        <a href="# "><img src="images/fb.png " alt=" " /></a>
                        <a href="# "><img src="images/tw.png " alt=" " /></a>
                        <a href="# "><img src="images/dribble.png " alt=" " /></a>
                        <a href="# "><img src="images/pinterest.png " alt=" " /></a>
                    </div>
                </div>
                <div class="clear "></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom ">
        <div class="wrap ">
            <div class="copy ">
                <p>© 2020 Theater. All Rights Reserved | Design by <a href="http://w3layouts.com ">W3Layouts</a></p>
            </div>
        </div>
    </div>
</body>

</html>