        #main {
            width: 80%;
            height: 550px;
            margin-left: 180px;
            margin-top: 0px;
            padding-top: 0px;
        }
        
        #main h1 {
            font-size: 40px;
            margin-left: 160px;
        }
        
        #main img {
            width: 230px;
            height: 320px;
            margin-left: 150px;
            margin-top: 30px;
        }
        
        #main #right {
            width: 700px;
            height: 400px;
            float: left;
            margin-left: 0px;
            margin-top: 0px;
            font-size: 19px;
        }
        
        #main #right button {
            margin-top: 10px;
            width: 150px;
        }